html, body {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    max-width: auto;
    scroll-behavior: smooth;
}

.top-block{
    background-color: #fff;
    min-height: 50px;
    min-width: 100%;
    position: fixed;
    z-index: 99;
}

.mid-head{
    background-color: #fff;
    min-height: 180px;
}

.mid-body{
    background-color: #edf2f4;
    min-height: 180px;
    padding-top: 100px;
}

.mid-body-inside{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mid-content{
    position: relative;
    display: flex;
    padding-top: 40px;
}

.content-left{
    padding: 2vh
}

#flex-title-left{
    display: inline-block;
    color: #006cb8;
    font-size: 2.0rem;
	font-weight: 700;
}

.flex-text-left{
    text-align: justify;
    line-height: 35px;
}

.flex-text-left a{
    text-decoration: none;
}

.content-right{
    margin-top: 2.5rem;
    padding-left: 5vh;
}

.content-right img{
    border-radius: 1em;
}

@media screen and (max-width: 768px) {
    .content-right {
        display: none;
  }
}   

.text-badge{
    display: inline-block;
    margin-top: 65px;
    position: relative;
    text-align: center;
    background-color: #006CB8;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    z-index: 2;
    font-weight: 700;
}

.cancel-flow{
    text-align: center;
    background-color: #fff;
    margin-top: -25px;
    border-radius: 1em;
}

.flow-img{
    padding: 75px 0 40px;
    max-width: 90%;
}

.flow-text{
    text-align: justify;
    padding: 0 70px 70px 55px;
}

.flow-asterisk-list{
    list-style-type: none;
    padding-inline-start: 0px;
}

.but-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    justify-content: center
}

.apply-button{
    background: #656565;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .apply-button {
        width: 43vh;
        padding: 20px 0px;
  }
}   

#annotation{
    padding: 120px 0 60px 0;
    text-align: center;
    font-size: 16px;
}

.apply-button-text{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0px;
}

.top-banner{
    background-image: url(includes/cancel_bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    min-height: 20vh;
}

#eng-title{
    font-size: 24px;
}

.banner-title{
    font-size: 2.5rem;
    color: aliceblue;
    transform: translateY(50%);
}

@media screen and (max-width: 768px) {
    .banner-title {
        font-size: 2rem;
        transform: translateY(0%);
  }
}   

.banner-title p{
    margin-bottom: 20px;
    margin-top: 20px;
}

.mid-title{
    margin: 10vh 0;
    text-align: center;
}

.mid-subtitle{
    text-align: center;
    color: #006CB8;
    padding-bottom: 70px;
    border-bottom: 2px dotted #75A8C3;
}

#top-logo{
    display: contents;
    padding-right: 0px;
}


@media screen and (max-width: 768px) {
    #top-logo {
        display: none;
  }
}   

#top-logo img{
    max-height: 2em;
    margin: 1ex;
    margin-left: 3em;
    margin-right: 3em;
}


#top-menu{
    display: inline-block;
    position: absolute;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

#top-menu button{
    float: left;
    text-align: center;
    padding: 13px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #fff; 
    border-width: 1px;
}

@media screen and (max-width: 768px) {
    #top-menu button {
        font-size: 14px;
        min-width: 50%
  }
}   

#top-menu button:hover {
    background-color: #edf2f4;
}

.bottom-block{
    background-color: #222;
    color: #e3eef3;
    min-height: 50px;
    z-index: 99;
    margin-top: 8vw;
    display: flex;
    padding: 5%;
}

.bottom-block #top-logo img {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.bottom-block{
    display: block;
}


#bottom-menu{
    /*display: flex;*/ 
    margin: auto;
}

.bottom-menu-content{
    display: flex;
    flex-direction: column;
    margin: 0 3vh;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .bottom-menu-content {
        margin: 0;
  }
}   

@media screen and (max-width: 768px) {
    .bottom-menu-content p {
        font-size: 14px;
        padding: 2%;
  }
}   

.bottom-menu-content p{
    line-height: 1.5em;
}

.bottom-menu-content p a {
    text-decoration: none;
    color: #e3eef3;
}