html, body {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    max-width: auto;
}

.top-block{
    background-color: #9dffff;
    min-height: 50px;
    min-width: 100%;
    position: fixed;
    z-index: 99;
}

.mid-head{
    background-color: #fff;
    min-height: 180px;
}

.mid-body{
    background-color: #e3eef3;
    min-height: 180px;
    padding-top: 100px;
}

.mid-body-inside{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mid-content{
    position: relative;
    display: flex;
    padding-top: 40px;
}

.content-left{
    padding-top: 70px;
    
}

.badge-image{
    vertical-align: middle;
    padding-bottom: 15px;
}

#flex-title-left{
    display: inline-block;
    padding-left: 15px;
    color: #75A8C3;
    font-size: 2.0rem;
	font-weight: 700;
	padding-left: 15px;
}

.flex-text-left{
    text-align: justify;
    line-height: 35px;
}

.content-right{
    margin-top: 5.0rem;
    padding-left: 66px;
}

@media screen and (max-width: 768px) {
    .content-right {
        display: none;
  }
}   

.text-badge{
    display: inline-block;
    margin-top: 65px;
    position: relative;
    text-align: center;
    background-color: #DC962E;
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    z-index: 2;
    font-weight: 700;
}

.cancel-flow{
    text-align: center;
    background-color: #fff;
    margin-top: -25px;
}

.flow-img{
    padding: 65px 0 40px;
    max-width: 100%;
}

.flow-text{
    text-align: justify;
    padding: 0 70px 70px 55px;
}

.flow-asterisk-list{
    list-style-type: none;
    padding-inline-start: 0px;
}

.bottom-block{
    background-color: #9dffc9;
    display: flex;
}

.but-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    justify-content: center
}

.apply-button{
    width: 42vh;
    background: #656565;
    border-radius: 5px;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#annotation{
    padding: 120px 0 60px 0;
    text-align: center;
    font-size: large;
}

.apply-button-text{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0px;
}

.top-banner{
    background-image: url(includes/cancel_bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    min-height: 20vh;
}

#eng-title{
    font-size: 24px;
}

.banner-title{
    font-size: 2.5rem;
    color: aliceblue;
    transform: translateY(50%);
}

@media screen and (max-width: 768px) {
    .banner-title {
        font-size: 2rem;
        transform: translateY(0%);
  }
}   

.banner-title p{
    margin-bottom: 20px;
    margin-top: 20px;
}

.mid-title{
    margin: 10vh;
    text-align: center;
}

.mid-subtitle{
    text-align: center;
    color: #006CB8;
    padding-bottom: 70px;
    border-bottom: 2px dotted #75A8C3;
}

#top-logo{
    display: contents;
    padding-right: 0px;
}


@media screen and (max-width: 768px) {
    #top-logo {
        display: none;
  }
}   

#top-logo img{
    max-height: 2.5em;
    margin: 1ex;
    margin-left: 3em;
    margin-right: 3em;
}


#top-menu{
    display: inline-block;
    position: absolute;
    overflow: hidden;
}

#top-menu button{
    float: left;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: #9dffff; 
    border-width: 1px;
}

@media screen and (max-width: 768px) {
    #top-menu button {
        font-size: 14px;
  }
}   

#top-menu button:hover {
    background-color: #87f1f1;
  }

.bottom-block{
    background-color: #9dffff;
    min-height: 50px;
    z-index: 99;
    margin-top: 8vw;
    display: flex;
    padding: 5%;
}

#bottom-menu{
    display: flex;
    margin: auto;
}

.bottom-menu-content{
    display: flex;
    flex-direction: column;
    margin-right: 3vh;
}

@media screen and (max-width: 768px) {
    .bottom-menu-content p {
        font-size: 14px;
        padding: 2%;
  }
}   
