html, body{
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}

.form-body{

}

.previous-page-button{
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
}

.previous-page-button a {
	text-decoration: none;
	background: #6E6E6E;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	color: #FFF;
	display: block;
	text-align: center;
	padding: 19px 10px;
	border-radius: 3px;
	/*transition: all 0.3s ease;*/
}

.previous-page-button a span {
    font-size: 14px;
}

#page-header {
	background: url(https://karinushi.a-hosho.co.jp/common/img/header_kaiyaku.jpg) no-repeat;
	background-size: cover;
	height: 190px;
	padding-top: 50px;
	margin-bottom: 60px;
}

#page-header h2 {
	font-size: 35px;
	line-height: 41px;
	color: #eb6321;
	letter-spacing: 7px;
	font-weight: 600;
	margin-bottom: 5px;
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

#page-header.kaiyaku-pages {
	padding-top: 130px;
}

#page-header.page-header-flow {
	margin-bottom: 0;
}

.form-flow {
	min-width: 1070px;
	background: #F1F0E7;
	position: relative;
	padding: 40px 0;
	margin-bottom: 55px;
}

.inner {
	width: 1070px;
	padding: 0 10px;
	margin: auto;
}

.flow-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

ol, ul {
	list-style: none;
}

.flow-list li {
	width: 16%;
	position: relative;
}

.flow-list-orange .flow-num-current {
	background: #eb6321;
}

.flow-num {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: #FFF;
	background: #B4B4B4;
	margin: 0 auto 15px;
	position: relative;
	z-index: 2;
}

.flow-list li::after {
	display: block;
	content: "";
	width: 50%;
	height: 7.7px;
	background: #B4B4B4;
	position: absolute;
	top: 20px;
	right: 0;
}

.flow-list li::before {
	display: block;
	content: "";
	width: 50%;
	height: 7.7px;
	background: #B4B4B4;
	position: absolute;
	top: 20px;
	left: 0;
}

.flow-list li:last-child::after {
	display: none;
  }
  .flow-list li:first-child::before {
	display: none;
  }

.flow-num-text {
	font-size: 19px;
	font-weight: 700;
	line-height: 25px;
	color: #B4B4B4;
	text-align: center;
	letter-spacing: -1px;
}

.flow-list-orange .flow-num-text-current {
	color: #eb6321	;
}