html, body {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}

.head-wrapper {
	margin-bottom: 60px;
	padding: 20px 0;
	background: url(https://karinushi.a-hosho.co.jp/common/img/header_kaiyaku.jpg) no-repeat;
	background-size: cover;
	max-height: 190px;
}

.header-content {
	height: 190px;
	max-width: 1070px;
	padding: 0 10px;
	margin: auto;
}

.logo {
	background: #fff;
	width: 180px;
	padding: 1px 5px;
	text-align: center;
	font-weight: 700;
	margin-bottom: -10px;
}

.header-title{
	font-size: 35px;
	line-height: 41px;
	color: #eb6321;
	letter-spacing: 7px;
	font-weight: 600;
	margin-bottom: 5px;
}

.header-text{
	font-size: 25.5px;
}

.form-content{
	width: 1070px;
	margin: auto;
}