html, body {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}

.form-body{

}

.previous-page-button{
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
}

.previous-page-button a {
	text-decoration: none;
	background: #6E6E6E;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	color: #FFF;
	display: block;
	text-align: center;
	padding: 19px 10px;
	border-radius: 3px;
	/*transition: all 0.3s ease;*/
}

.previous-page-button a span {
    font-size: 14px;
}

#page-header {
	background: url(https://karinushi.a-hosho.co.jp/common/img/header_kaiyaku.jpg) no-repeat;
	background-size: cover;
	height: 190px;
	padding-top: 50px;
	margin-bottom: 60px;
}